* {
    font-family: montserrat, Sans-serif;
}

body {
    background-image: url('../assets/FOTO2.webp');
    background-image: linear-gradient(rgba(253, 232, 232, 0.164), rgba(253, 232, 232, 0.164)), url('../assets/FOTO2.webp');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 100%;
}

.masthead {
    height: 80vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url("../assets/teste.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rounded-circle {
    width: 202px;
    height: 202px;
    border-radius: 151px 151px 151px 151px;
    box-shadow: 7px 12px 18px 0px rgba(0, 0, 0, 0.85);
}

.dot {
    height: 175px;
    width: 175px;
    background-color: rgba(47, 47, 47, 0.287);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
}

.card {
    border-radius: 14px;
    border-style: none;
}

.card-img-top {
    /* border-style: none; */
    border-radius: 12px;
    box-shadow: 0.2em 0.1em 0.5em 0.2em rgb(0, 0, 0);

}