/*! CSS Used from: ../../css/index.css */
*{font-family:montserrat;}
input{border-width:1px!important;border-color:rgb(177, 177, 177)!important;border-radius:2px!important;}
input::placeholder{font-size:14px;}
input:focus{box-shadow:none!important;border-color:black!important;}
button{border:none!important;}
button:focus{box-shadow:none!important;}
button:hover{color:white!important;background-color:#735394!important;}
.purpleColor{background-color:#735394;}
@media (max-width: 765px){
.rowPrincipal{margin-top:2%!important;}
}
/*! CSS Used from: ../../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width:992px){
.col-lg-2{flex:0 0 auto;width:16.66666667%;}
.col-lg-8{flex:0 0 auto;width:66.66666667%;}
}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.form-control{transition:none;}
}
.form-control:focus{color:#212529;background-color:#fff;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.form-control::-moz-placeholder{color:#6c757d;opacity:1;}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.btn-primary{color:#fff;background-color:#0d6efd;border-color:#0d6efd;}
.btn-primary:hover{color:#fff;background-color:#0b5ed7;border-color:#0a58ca;}
.btn-primary:focus{color:#fff;background-color:#0b5ed7;border-color:#0a58ca;box-shadow:0 0 0 .25rem rgba(49,132,253,.5);}
.btn-primary:active{color:#fff;background-color:#0a58ca;border-color:#0a53be;}
.btn-primary:active:focus{box-shadow:0 0 0 .25rem rgba(49,132,253,.5);}
.btn-primary:disabled{color:#fff;background-color:#0d6efd;border-color:#0d6efd;}
.mt-2{margin-top:.5rem!important;}
/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css */
:root{--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";}
:root{--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Free";}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
/*! CSS Used from: ../../vendor/fontawesome/css/all.min.css */
:root{--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";}
:root{--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Free";}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
/*! CSS Used from: ../../css/general.css */
*{word-wrap:break-word;}
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
.mt-8{margin-top:5rem!important;}
.f-size-0-9{font-size:0.9em;}
.text-weight-medium{font-weight:500;}
/*! CSS Used from: ../../css/index.css */
*{font-family:montserrat;}
input{border-width:1px!important;border-color:rgb(177, 177, 177)!important;border-radius:2px!important;}
input::placeholder{font-size:14px;}
input:focus{box-shadow:none!important;border-color:black!important;}
button{border:none!important;}
button:focus{box-shadow:none!important;}
button:hover{color:white!important;background-color:#735394!important;}
.purpleColor{background-color:#735394;}
@media (max-width: 765px){
.rowPrincipal{margin-top:2%!important;}
}
/*! CSS Used fontfaces */
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}