/*! CSS Used from: ../../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
p{margin-top:0;margin-bottom:1rem;}
b{font-weight:bolder;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img,svg{vertical-align:middle;}
label{display:inline-block;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-3{flex:0 0 auto;width:25%;}
.col-4{flex:0 0 auto;width:33.33333333%;}
.col-5{flex:0 0 auto;width:41.66666667%;}
.col-6{flex:0 0 auto;width:50%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
.col-9{flex:0 0 auto;width:75%;}
.col-10{flex:0 0 auto;width:83.33333333%;}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width:576px){
.col-sm-5{flex:0 0 auto;width:41.66666667%;}
.col-sm-6{flex:0 0 auto;width:50%;}
.col-sm-8{flex:0 0 auto;width:66.66666667%;}
.col-sm-10{flex:0 0 auto;width:83.33333333%;}
.col-sm-12{flex:0 0 auto;width:100%;}
}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-10{flex:0 0 auto;width:83.33333333%;}
.col-md-12{flex:0 0 auto;width:100%;}
}
@media (min-width:992px){
.col-lg-1{flex:0 0 auto;width:8.33333333%;}
.col-lg-2{flex:0 0 auto;width:16.66666667%;}
.col-lg-3{flex:0 0 auto;width:25%;}
.col-lg-4{flex:0 0 auto;width:33.33333333%;}
.col-lg-5{flex:0 0 auto;width:41.66666667%;}
.col-lg-6{flex:0 0 auto;width:50%;}
.col-lg-8{flex:0 0 auto;width:66.66666667%;}
.col-lg-10{flex:0 0 auto;width:83.33333333%;}
.col-lg-12{flex:0 0 auto;width:100%;}
}
@media (min-width:1200px){
.col-xl-1{flex:0 0 auto;width:8.33333333%;}
.col-xl-2{flex:0 0 auto;width:16.66666667%;}
.col-xl-3{flex:0 0 auto;width:25%;}
.col-xl-4{flex:0 0 auto;width:33.33333333%;}
.col-xl-5{flex:0 0 auto;width:41.66666667%;}
.col-xl-6{flex:0 0 auto;width:50%;}
.col-xl-8{flex:0 0 auto;width:66.66666667%;}
.col-xl-9{flex:0 0 auto;width:75%;}
.col-xl-10{flex:0 0 auto;width:83.33333333%;}
.col-xl-12{flex:0 0 auto;width:100%;}
}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.btn-lg{padding:.5rem 1rem;font-size:1.25rem;border-radius:.3rem;}
.btn-sm{padding:.25rem .5rem;font-size:.875rem;border-radius:.2rem;}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1rem 1rem;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.d-block{display:block!important;}
.d-flex{display:flex!important;}
.flex-column{flex-direction:column!important;}
.flex-column-reverse{flex-direction:column-reverse!important;}
.justify-content-center{justify-content:center!important;}
.align-items-end{align-items:flex-end!important;}
.align-items-center{align-items:center!important;}
.mx-0{margin-right:0!important;margin-left:0!important;}
.mx-2{margin-right:.5rem!important;margin-left:.5rem!important;}
.mt-1{margin-top:.25rem!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mb-0{margin-bottom:0!important;}
.mb-2{margin-bottom:.5rem!important;}
.ms-2{margin-left:.5rem!important;}
.ms-3{margin-left:1rem!important;}
.p-3{padding:1rem!important;}
.pt-2{padding-top:.5rem!important;}
.pt-4{padding-top:1.5rem!important;}
.pt-5{padding-top:3rem!important;}
.lh-1{line-height:1!important;}
.text-center{text-align:center!important;}
.text-white{color:#fff!important;}
.text-muted{color:#6c757d!important;}
.bg-light{background-color:#f8f9fa!important;}
@media (min-width:576px){
.d-sm-block{display:block!important;}
.d-sm-flex{display:flex!important;}
.flex-sm-column{flex-direction:column!important;}
.flex-sm-column-reverse{flex-direction:column-reverse!important;}
}
@media (min-width:768px){
.d-md-flex{display:flex!important;}
.flex-md-row{flex-direction:row!important;}
.flex-md-row-reverse{flex-direction:row-reverse!important;}
.justify-content-md-start{justify-content:flex-start!important;}
}
@media (min-width:992px){
.d-lg-flex{display:flex!important;}
.flex-lg-row{flex-direction:row!important;}
.text-lg-start{text-align:left!important;}
}
@media (min-width:1200px){
.d-xl-flex{display:flex!important;}
.flex-xl-row{flex-direction:row!important;}
}
/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css */
.fa-brands,.fa-regular,.fa-solid,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display,inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;}
.fa-arrow-right:before{content:"\f061";}
.fa-circle-arrow-down:before{content:"\f0ab";}
.fa-circle-check:before{content:"\f058";}
:root{--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";}
.fa-brands{font-family:"Font Awesome 6 Brands";font-weight:400;}
.fa-instagram:before{content:"\f16d";}
.fa-youtube:before{content:"\f167";}
:root{--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Free";}
.fa-regular{font-family:"Font Awesome 6 Free";font-weight:400;}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
.fa-solid,.fas{font-family:"Font Awesome 6 Free";font-weight:900;}
/*! CSS Used from: ../../css/general.css */
*{word-wrap:break-word;}
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
.mt-6{margin-top:4rem!important;}
.mt-7{margin-top:4.5rem!important;}
.mb-12{margin-bottom:7rem!important;}
.mt-10{margin-top:6rem!important;}
.lh-1{line-height:1em;}
.lh-1-2{line-height:1.2em;}
.lh-38px{line-height:38px;}
.f-size-0-7{font-size:0.7em;}
.f-size-0-8{font-size:0.8em;}
.f-size-1-1{font-size:1.1em;}
.f-size-1-2{font-size:1.2em;}
.f-size-1-3{font-size:1.3em;}
.f-size-1-4{font-size:1.4em;}
.f-size-1-5{font-size:1.5em;}
.f-size-1-7{font-size:1.7em;}
.f-size-1-9{font-size:1.9em;}
.f-size-2{font-size:2em;}
.f-size-2-2{font-size:2.2em;}
.f-size-2-3{font-size:2.3em;}
.f-size-3{font-size:3em;}
.f-size-6{font-size:4em;}
.text-weight-extrabold{font-weight:800;}
.text-weight-bold{font-weight:600;}
.text-weight-bolder{font-weight:700;}
.text-weight-medium{font-weight:500;}
.text-black{color:black;}
.text-red{color:#f20505!important;}
.text-color-white{color:white;}
@media (max-width: 765px){
.swiper{width:100%!important;}
}
@media (max-width: 1023px ){
.swiper{width:80%!important;}
}
.swiper{width:60%;height:100%;}
.swiper-slide{text-align:center;font-size:18px;background:black;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.swiper-slide img{display:block;width:100%;height:100%;object-fit:cover;border-radius:10px;}
/*! CSS Used from: ../../css/accordion.css */
.tab input{display:none;}
.tab label{position:relative;display:block;width:100%;margin-top:10px;padding:10px;font-weight:700;color:#fff;background:var(--roxo);cursor:pointer;text-align:left;font-size:1.2em;}
.tab .content{background:var(--azulCiano);overflow:hidden;transition:max-height 0.3s;max-height:0;font-size:1.2em;text-align:left;}
.tab .content p{padding:10px;}
.tab input:checked ~ .content{max-height:100vh;}
.tab label::after{display:block;content:"\25b8";position:absolute;right:10px;top:10px;transition:all 0.4s;}
.tab input:checked ~ label::after{transform:rotate(90deg);}
.tab input:checked ~  label{color:var(--azulCiano);}
@media (max-width: 768px){
.tab label{font-size:1em;}
.tab .content{font-size:0.9em;}
}
/*! CSS Used from: https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css */
:root{--swiper-theme-color:#007aff;}
.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box;}
.swiper-wrapper{transform:translate3d(0px,0,0);}
.swiper-pointer-events{touch-action:pan-y;}
.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform;}
:root{--swiper-navigation-size:44px;}
.swiper .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000;}
/*! CSS Used from: ../../css/index.css */
:root{--azulCiano:#62ffdd;--roxo:#331264;--roxoClaro:#4907ad;--vermelho:#CC0000;--laranja:#FF9900;--amarelo:#FFCC00;--verde:#669933;--azul:#3399FF;--roxoCard:#9933CC;--branco:#F6F6F6;}
*{font-family:montserrat;}
body{background-color:white;}
.primeiroBackground{background-color:transparent;background-image:url('../../assets/portaisInteriores/background01.webp');background-position:0 0;background-size:cover;}
.positionRelative{position:relative!important;}
.segundoBackground{background-color:var(--roxo);}
.terceiroBackground{background-color:var(--roxoClaro);}
.greyBackground{background-color:#f0f0f0;}
.backgroundRoxoLinear{background-color:transparent;background-image:linear-gradient(180deg,var(--roxo) 0%,#4907ad 100%);}
.azulCiano{color:var(--azulCiano);}
.roxo{color:var(--roxo);}
.roxoClaro{color:var(--roxoClaro);}
.cinza{color:#262626;}
.logoYoga{width:70%;}
.iconsSecondContainer{width:100%;}
.containerIconesIniciais{max-width:17em;max-height:20em;width:clamp(10em, 17em);height:20em;padding:10px;}
@media (max-width: 1400px){
.hideText{display:none;}
.f-size-1-2{font-size:1rem;}
.colCardTituloOferta{width:75%;}
.colCardPrecoOferta{width:25%;}
.priceOferta{font-size:1.2rem;}
.textosChakras{font-size:1.4rem;}
.titulotextosChakras{font-size:1.4rem;text-align:center;}
@media (max-width: 768px){
.containerIconesIniciais{max-width:unset;height:unset;}
.marginTop{margin-top:0!important;}
}
}
.cardThirdContainer{padding:10px;max-width:26em;height:29em;}
.imgContainer{border-radius:20px 5px;max-width:24.8em;max-height:16.5em;}
@media (max-width: 768px){
.imgContainer{max-width:100%;max-height:28em;}
.cardThirdContainer{padding:10px;max-width:90%;height:unset;}
.textCard{max-height:20em;}
}
.cardVantagens{max-width:25em;padding:10px;}
@media (max-width: 768px){
.cardVantagens{max-width:unset;}
}
.moduloContainer{background-color:#F3F1F6;width:25em;height:42.5em;border-radius:2%;padding:30px;}
.moduloContainer.section2{background-color:#F3F1F6;width:25em;height:45.5em;border-radius:2%;padding:30px;}
.moduloContainer.vermelho{background-color:var(--vermelho);}
.moduloContainer.laranja{background-color:var(--laranja);}
.moduloContainer.amarelo{background-color:var(--amarelo);}
.moduloContainer.verde{background-color:var(--verde);}
.moduloContainer.azul{background-color:var(--azul);}
.moduloContainer.roxo{background-color:var(--roxoCard);}
.txtModule{line-height:1.5rem!important;}
.iconInstagramBianca{font-size:150%;padding-right:4%;}
.btnInstagramBianca{color:white;border-radius:0px;}
.btnInstagramBianca:hover{background-color:#c36;color:white;}
.iconYoutubeBianca{font-size:150%;padding-right:4%;}
.btnYoutubeBianca{color:white;border-radius:0px;}
.btnYoutubeBianca:hover{background-color:#c36;color:white;}
.btnCardOferta{animation:3.4s cubic-bezier(.2,.5,.9,.6) 2s infinite normal none running textura;background-image:linear-gradient(45deg,#205bea,#fd01f3,#205bea,#fd01f3);background-size:400% 200%;transition:background 1.6s cubic-bezier(.55,.1,.47,.94) 0s;border-radius:10px;}
@media (max-width: 1232px){
.cardMarginTop{margin-top:0.5em;}
}
@media (max-width: 768px){
.moduloContainer{width:90%;}
.moduloContainer.section2{width:90%;}
}
.cardReportagem{padding:0 10px 10px 0;}
.containerHeight{max-height:7em;}
.hr{height:3px;background-color:#331264;width:100%;}
.cardPrancheta{border-radius:10px;}
.cardPranchetaImg{border-radius:10px;}
.textCardPrancheta{line-height:1.3em;padding:0 20px 20px;margin-bottom:0;}
@media (max-width: 768px){
.marginMobile{margin:1em 0 0 0!important;}
}
.vermelho{color:var(--vermelho);}
.laranja{color:var(--laranja);}
.amarelo{color:var(--amarelo);}
.verde{color:var(--verde);}
.azul{color:var(--azul);}
.roxoCard{color:var(--roxoCard);}
.cinza{color:#A4A4A4;}
.cardAntesDepois{padding:20px;border-radius:10px;}
.imgAntesDepois{border-radius:10px;}
.cardInterno{padding:10px;}
@media (max-width: 1024px){
.hideIcon{display:none;}
}
.cardCiano{background-color:var(--azulCiano);padding:20px;border-radius:10px;}
.transition-down-up{animation:1s ease-out 0s 1 slideInFromDown;}
.cardTreinamentos{padding:20px;border-radius:10px;margin:5px;}
.imgCardTreinamentos{border-radius:10px;}
.buttonsFooter{text-decoration:none;color:white;font-weight:600;}
.buttonBonus{background-color:transparent;background-image:linear-gradient(180deg,#4d00c3 0%,#3c0099 100%);border-radius:70px;animation:blinker 1s linear infinite;}
.buttonsFooter:hover{color:white;}
.marginRight{margin-right:0.7em;}
.montserrat{font-family:montserrat;}
.inter{font-family:inter;}
.swiper-slide{background-color:#ffff;border-radius:2em;}
.cianShinyBorderCard{border-style:solid;border-width:1px;border-color:#62ffdd;box-shadow:0px 0px 100px 0px #62ffdd;border-radius:30px;}
.cianShinyBorderButtons{border-style:solid;border-width:1px;border-color:#62ffdd;box-shadow:0px 0px 10px 0px #62ffdd;}
.iconsThirdContainer{width:15%;}
.cardIcons{padding:20px;border-radius:10px;height:100%;}
@media (max-width: 768px){
.marginTopIcons{margin-top:1em!important;}
.iconsThirdContainer{width:10%;}
}
.selo{width:100%;}
@media (max-width: 768px){
.justifyContentCenter{align-self:center;}
.textCenter{text-align:center;}
.marginTopGarantia{margin-top:2em!important;}
}
lite-vimeo{background-image:url('../../assets/portaisInteriores/bannerVideo.webp');background-size:cover;background-position:0 0;}
.svg02{fill:var(--roxo);}
.svg02.claro{fill:var(--roxoClaro);}
.elementor-shape{overflow:hidden;position:absolute;left:0;width:100%;line-height:0;direction:ltr;}
.elementor-shape-bottom{bottom:-1px;}
.elementor-shape[data-negative=false].elementor-shape-bottom{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.elementor-shape svg{display:block;width:calc(100% + 1.3px);position:relative;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.transition-down-up{animation:1s ease-out 0s 1 slideInFromDown;}
.imgAboutBianca{border-radius:80%;width:28em;height:28em;background-image:url(../../assets/portaisInteriores/sobreImg.webp);background-size:cover;background-position:center;bottom:20px;}
.boxArrow{position:relative;margin-top:0%!important;}
.fa-circle-arrow-down{color:var(--roxo);animation:jumping .8s infinite alternate;}
.fa-arrow-right{animation:sliding .8s infinite alternate;}
.svgRedStroke{position:absolute;top:50%;left:50%;width:calc(100% + 20px);height:calc(100% + 20px);transform:translate(-50%,-50%);overflow:visible;animation:showHide 1.5s ease-in alternate infinite;}
.pathRedStroke{stroke-width:9;fill:none;stroke:#f90000;}
.showElement{display:none;}
.imgReportagem{border-style:solid;border-width:1px;border-color:black;border-radius:8px;}
.livrosBanners{width:80%;}
.dotSpan{flex:1;border-bottom:2.5px dotted black;}
.parcelamentoOferta{font-size:80%;}
@media (max-width: 790px){
.hideElement{display:none!important;}
.showElement{display:block!important;}
.blocoValorPromocional{margin-top:12%!important;}
.imgAboutBianca{width:calc(var(--vw, 1vw) * 90);height:calc(var(--vw, 1vw) * 90);margin-bottom:8%;}
.centerOnMobile{text-align:center;}
.livrosBanners{width:50%;}
.moduloContainer{margin-top:2%;}
.f-size-6{font-size:2.8em;}
.f-size-2-2{font-size:1.9em;}
.f-size-2{font-size:1.5em;}
.textValorCortadoCard{font-size:1.1em;}
.f-size-1-7{font-size:1.4em;}
.f-size-1-5{font-size:1.3em;}
.f-size-1-4{font-size:1.2em;}
.f-size-1-3{font-size:1.1em;}
.f-size-1-2{font-size:0.8em;}
.textoAboutBianca{font-size:0.9rem;}
.textOferta.maiorTexto{font-size:0.74em;}
.priceOferta{font-size:0.9rem;}
.cinza{font-size:0.9em;}
}
@media (max-width: 375px){
.f-size-1-2{font-size:0.72em;}
.textOferta.maiorTexto{font-size:0.66em;}
.priceOferta{font-size:0.8rem;}
}
/*! CSS Used keyframes */
@keyframes blinker{50%{transform:scale(1.1);}}
@keyframes jumping{0%{transform:translateY(30%);}100%{transform:translateY(0);}}
@keyframes sliding{0%{transform:translateX(40%);}100%{transform:translateX(0);}}
@keyframes showHide{0%{stroke-dasharray:0 1500;opacity:1;}100%{stroke-dasharray:1500 1500;opacity:1;}}
@keyframes slideInFromDown {0% {transform: translateY(100%);}100% {transform: translateY(0);}}
/*! CSS Used fontfaces */
@font-face{font-family:"Font Awesome 6 Brands";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-brands-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-brands-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.ttf) format("truetype");}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:inter;src:url('../../fonts/bianca/Inter-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:interSemi;src:url('../../fonts/bianca/Inter-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}