
/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css */
.fa-brands,.fa-regular,.fa-solid,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display,inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;}
.fa-arrow-right:before{content:"\f061";}
.fa-circle-arrow-down:before{content:"\f0ab";}
.fa-circle-check:before{content:"\f058";}
:root{--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";}
.fa-brands{font-family:"Font Awesome 6 Brands";font-weight:400;}
.fa-instagram:before{content:"\f16d";}
.fa-youtube:before{content:"\f167";}
:root{--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Free";}
.fa-regular{font-family:"Font Awesome 6 Free";font-weight:400;}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
.fa-solid,.fas{font-family:"Font Awesome 6 Free";font-weight:900;}
/*! CSS Used from: ../../css/general.css */
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
.mt-6{margin-top:4rem!important;}
.mt-7{margin-top:4.5rem!important;}
.mb-12{margin-bottom:7rem!important;}
.mt-10{margin-top:6rem!important;}
.mt-n15{margin-top: -15%;}
.lh-1{line-height:1em;}
.lh-1-2{line-height:1.2em;}
.lh-38px{line-height:38px;}
.f-size-0-7{font-size:0.7em;}
.f-size-0-8{font-size:0.8em;}
.f-size-0-95{font-size:0.95em;}
.f-size-1-1{font-size:1.1em;}
.f-size-1-2{font-size:1.2em;}
.f-size-1-3{font-size:1.3em;}
.f-size-1-4{font-size:1.4em;}
.f-size-1-5{font-size:1.5em;}
.f-size-1-6{font-size:1.6em;}
.f-size-1-7{font-size:1.7em;}
.f-size-1-9{font-size:1.9em;}
.f-size-2{font-size:2em;}
.f-size-2-2{font-size:2.2em;}
.f-size-2-3{font-size:2.3em;}
.f-size-3{font-size:3em;}
.f-size-6{font-size:4em;}
.text-weight-extrabold{font-weight:800;}
.text-weight-bold{font-weight:600;}
.text-weight-bolder{font-weight:700;}
.text-weight-medium{font-weight:500;}
.text-black{color:black;}
.text-red{color:#f20505!important;}
.text-color-white{color:white;}
@media (max-width: 765px){
.swiper{width:100%!important;}
}
@media (max-width: 1023px ){
.swiper{width:80%!important;}
}
.swiper{width:70%;height:100%;}
.swiper-slide{text-align:center;font-size:18px;background:black;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.swiper-slide img{display:block;width:100%;height:150%;object-fit:cover;border-radius:10px;}
/*! CSS Used from: ../../css/accordion.css */
.tab input{display:none;}
.tab label{position:relative;display:block;width:100%;margin-top:10px;padding:10px;font-weight:600;color:#fff;background:var(--roxo);cursor:pointer;text-align:left;font-size:1.2em;}
.tab .content{background:var(--azulCiano);overflow:hidden;transition:max-height 0.3s;max-height:0;font-size:1.2em;text-align:left;}
.tab .content p{padding:10px;}
.tab input:checked ~ .content{max-height:100vh;}
.tab label::after{display:block;content:"\25b8";position:absolute;right:10px;top:10px;transition:all 0.4s;}
.tab input:checked ~ label::after{transform:rotate(90deg);}
.tab input:checked ~  label{color:var(--azulCiano);}
@media (max-width: 768px){
.tab label{font-size:1em;}
.tab .content{font-size:0.9em;}
}

/* Mobile */
@media (max-width: 425px){
    .mt-6{
        margin-top: 0 !important;
    }
    .mt-10{
        margin-top: 2em !important;
    }
}
/*! CSS Used from: https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css */
:root{--swiper-theme-color:#007aff;}
.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box;}
.swiper-wrapper{transform:translate3d(0px,0,0);}
.swiper-pointer-events{touch-action:pan-y;}
.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform;}
:root{--swiper-navigation-size:44px;}
.swiper .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000;}
/*! CSS Used from: ../../css/index.css */
:root{--azulCiano:#62ffdd;--roxo:#331264;--roxoClaro:#4907ad;--vermelho:#CC0000;--laranja:#FF9900;--amarelo:#FFCC00;--verde:#669933;--azul:#3399FF;--roxoCard:#9933CC;--branco:#F6F6F6;}
body{background-color:white;}
.roxo{color:var(--roxo);}
.roxoClaro{color:var(--roxoClaro);}
.cinza{color:#262626;}
.cardThirdContainer{padding:10px;max-width:26em;height:29em;}
.imgContainer{border-radius:20px 5px;max-width:24.8em;max-height:16.5em;}
.moduloContainer{background-color:#F3F1F6;width:25em;height:42.5em;border-radius:2%;padding:30px;}
.moduloContainer.section2{background-color:#F3F1F6;width:25em;height:45.5em;border-radius:2%;padding:30px;}
.moduloContainer.vermelho{background-color:var(--vermelho);}
.moduloContainer.laranja{background-color:var(--laranja);}
.moduloContainer.amarelo{background-color:var(--amarelo);}
.moduloContainer.verde{background-color:var(--verde);}
.moduloContainer.azul{background-color:var(--azul);}
.moduloContainer.roxo{background-color:var(--roxoCard);}
.txtModule{line-height:1.5rem!important;}
.iconInstagramBianca{font-size:150%;padding-right:4%;}
.btnInstagramBianca{color:white;border-radius:0px;}
.btnInstagramBianca:hover{background-color:#c36;color:white;}
.iconYoutubeBianca{font-size:150%;padding-right:4%;}
.btnYoutubeBianca{color:white;border-radius:0px;}
.btnYoutubeBianca:hover{background-color:#c36;color:white;}
.btnCardOferta{animation:3.4s cubic-bezier(.2,.5,.9,.6) 2s infinite normal none running textura;background-image:linear-gradient(45deg,#205bea,#fd01f3,#205bea,#fd01f3);background-size:400% 200%;transition:background 1.6s cubic-bezier(.55,.1,.47,.94) 0s;border-radius:10px;padding-top: 1rem; padding-bottom: 1rem; width: 100%;}
.btnCardOferta:hover{color:var(--azulCiano);}
.cardReportagem{padding:0 10px 10px 0;}
.hr{height:3px;background-color:#331264;width:100%;}
.cardPrancheta{border-radius:10px;}
.cardPranchetaImg{border-radius:10px;}
.textCardPrancheta{line-height:1.3em;padding:0 20px 20px;margin-bottom:0;}
.vermelho{color:var(--vermelho);}
.laranja{color:var(--laranja);}
.amarelo{color:var(--amarelo);}
.verde{color:var(--verde);}
.azul{color:var(--azul);}
.roxoCard{color:var(--roxoCard);}
.cinza{color:#A4A4A4;}
.cardAntesDepois{padding:20px;border-radius:10px;}
.imgAntesDepois{border-radius:10px;}
.cardInterno{padding:10px;}
.cardCiano{background-color:var(--azulCiano);padding:20px;border-radius:10px;}
.cardTreinamentos{padding:20px;border-radius:10px;margin:5px;}
.imgCardTreinamentos{border-radius:10px;}
.buttonsFooter{text-decoration:none;color:white;font-weight:600;}
.buttonBonus{background-color:transparent;background-image:linear-gradient(180deg,#4d00c3 0%,#3c0099 100%);border-radius:70px;animation:blinker 1s linear infinite;}
.buttonsFooter:hover{color:white;}
.marginRight{margin-right:0.7em;}
.montserrat{font-family:montserrat;}
.swiper-slide{background-color:#ffff;border-radius:2em;}
.cianShinyBorderCard{border-style:solid;border-width:1px;border-color:#62ffdd;box-shadow:0px 0px 100px 0px #62ffdd;border-radius:30px;}
.cianShinyBorderButtons{border-style:solid;border-width:1px;border-color:#62ffdd;box-shadow:0px 0px 10px 0px #62ffdd;}
.iconsThirdContainer{width:15%;}
.cardIcons{padding:20px;border-radius:10px;height:100%;}
.selo{width:60%;}
.svg02{fill:var(--roxo);}
.svg02.claro{fill:var(--roxoClaro);}
.transition-down-up{animation:1s ease-out 0s 1 slideInFromDown;}
.imgAboutBianca{border-radius:80%;width:28em;height:28em;background-image:url(../../assets/portaisInteriores/sobreImg.webp);background-size:cover;background-position:center;bottom:20px;}
.boxArrow{position:relative;margin-top:0%!important;}
.fa-circle-arrow-down{color:var(--roxo);animation:jumping .8s infinite alternate;}
.fa-arrow-right{animation:sliding .8s infinite alternate;}
.svgRedStroke{position:absolute;top:50%;left:50%;width:calc(100% + 20px);height:calc(100% + 20px);transform:translate(-50%,-50%);overflow:visible;animation:showHide 1.5s ease-in alternate infinite;}
.pathRedStroke{stroke-width:9;fill:none;stroke:#f90000;}
.showElement{display:none;}
.imgReportagem{border-style:solid;border-width:1px;border-color:black;border-radius:8px;}
.livrosBanners{width:80%;}
.dotSpan{flex:1;border-bottom:2.5px dotted black;}
.parcelamentoOferta{font-size:80%;}
.mouseHoverReportagens {cursor: pointer;}
/*! CSS Used keyframes */
@keyframes blinker{50%{transform:scale(1.1);}}
@keyframes sliding{0%{transform:translateX(40%);}100%{transform:translateX(0);}}
@keyframes showHide{0%{stroke-dasharray:0 1500;opacity:1;}100%{stroke-dasharray:1500 1500;opacity:1;}}
/*! CSS Used fontfaces */
@font-face{font-family:"Font Awesome 6 Brands";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-brands-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-brands-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.ttf) format("truetype");}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:inter;src:url('../../fonts/bianca/Inter-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:interSemi;src:url('../../fonts/bianca/Inter-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}