/*! CSS Used from: ../../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
p{margin-top:0;margin-bottom:1rem;}
b{font-weight:bolder;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img,svg{vertical-align:middle;}
label{display:inline-block;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-3{flex:0 0 auto;width:25%;}
.col-4{flex:0 0 auto;width:33.33333333%;}
.col-5{flex:0 0 auto;width:41.66666667%;}
.col-6{flex:0 0 auto;width:50%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
.col-9{flex:0 0 auto;width:75%;}
.col-10{flex:0 0 auto;width:83.33333333%;}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width:576px){
.col-sm-5{flex:0 0 auto;width:41.66666667%;}
.col-sm-6{flex:0 0 auto;width:50%;}
.col-sm-8{flex:0 0 auto;width:66.66666667%;}
.col-sm-10{flex:0 0 auto;width:83.33333333%;}
.col-sm-12{flex:0 0 auto;width:100%;}
}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-10{flex:0 0 auto;width:83.33333333%;}
.col-md-12{flex:0 0 auto;width:100%;}
}
@media (min-width:992px){
.col-lg-1{flex:0 0 auto;width:8.33333333%;}
.col-lg-2{flex:0 0 auto;width:16.66666667%;}
.col-lg-3{flex:0 0 auto;width:25%;}
.col-lg-4{flex:0 0 auto;width:33.33333333%;}
.col-lg-5{flex:0 0 auto;width:41.66666667%;}
.col-lg-6{flex:0 0 auto;width:50%;}
.col-lg-8{flex:0 0 auto;width:66.66666667%;}
.col-lg-10{flex:0 0 auto;width:83.33333333%;}
.col-lg-12{flex:0 0 auto;width:100%;}
}
@media (min-width:1200px){
.col-xl-1{flex:0 0 auto;width:8.33333333%;}
.col-xl-2{flex:0 0 auto;width:16.66666667%;}
.col-xl-3{flex:0 0 auto;width:25%;}
.col-xl-4{flex:0 0 auto;width:33.33333333%;}
.col-xl-5{flex:0 0 auto;width:41.66666667%;}
.col-xl-6{flex:0 0 auto;width:50%;}
.col-xl-8{flex:0 0 auto;width:66.66666667%;}
.col-xl-9{flex:0 0 auto;width:75%;}
.col-xl-10{flex:0 0 auto;width:83.33333333%;}
.col-xl-12{flex:0 0 auto;width:100%;}
}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.btn-lg{padding:.5rem 1rem;font-size:1.25rem;border-radius:.3rem;}
.btn-sm{padding:.25rem .5rem;font-size:.875rem;border-radius:.2rem;}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1rem 1rem;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.d-block{display:block!important;}
.d-flex{display:flex!important;}
.flex-column{flex-direction:column!important;}
.flex-column-reverse{flex-direction:column-reverse!important;}
.justify-content-center{justify-content:center!important;}
.align-items-end{align-items:flex-end!important;}
.align-items-center{align-items:center!important;}
.mx-0{margin-right:0!important;margin-left:0!important;}
.mx-2{margin-right:.5rem!important;margin-left:.5rem!important;}
.mt-1{margin-top:.25rem!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mb-0{margin-bottom:0!important;}
.mb-2{margin-bottom:.5rem!important;}
.ms-2{margin-left:.5rem!important;}
.ms-3{margin-left:1rem!important;}
.p-3{padding:1rem!important;}
.pt-2{padding-top:.5rem!important;}
.pt-4{padding-top:1.5rem!important;}
.pt-5{padding-top:3rem!important;}
.lh-1{line-height:1!important;}
.text-center{text-align:center!important;}
.text-white{color:#fff!important;}
.text-muted{color:#6c757d!important;}
*{word-wrap:break-word;}
*{font-family:montserrat;}
.azulCiano{color:var(--azulCiano);}
.primeiroBackground{background-color:transparent;background-image:url('../../assets/portaisInteriores/background01.webp');background-position:0 0;background-size:cover;}
.positionRelative{position:relative!important;}
.segundoBackground{background-color:var(--roxo);}
.terceiroBackground{background-image: linear-gradient(180deg,#331264 0%,#4907ad 100%);}
.greyBackground{background-color:#f0f0f0;}
.backgroundRoxoLinear{background-color:transparent;background-image:linear-gradient(180deg,var(--roxo) 0%,#4907ad 100%);}
.bg-light{background-color:#f8f9fa!important;}
.transition-down-up{animation:1s ease-out 0s 1 slideInFromDown;}
.logoYoga{width:55%;}
lite-vimeo{background-image:url('../../assets/portaisInteriores/bannerVideo.webp');background-size:cover;background-position:0 0;}
.inter{font-family:inter;}
.interSemi{font-family: interSemi;}
.containerIconesIniciais{max-width:17.5em;max-height:20em;width:clamp(10em, 17em);height:20em;padding:10px;}
.iconsSecondContainer{width:100%;}
.containerHeight{max-height:7em;}
.elementor-shape{overflow:hidden;position:absolute;left:0;width:100%;line-height:0;direction:ltr;}
.elementor-shape-bottom{bottom:-1px;}
.elementor-shape[data-negative=false].elementor-shape-bottom{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.elementor-shape svg{display:block;width:calc(100% + 1.3px);position:relative;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.priceOferta{white-space:nowrap!important; margin-left: -4% !important; padding-top: 50% !important;}
/* .setWidthSlider{width: 400px !important;} */

@keyframes jumping{0%{transform:translateY(30%);}100%{transform:translateY(0);}}
@keyframes slideInFromDown {0% {transform: translateY(100%);}100% {transform: translateY(0);}}

@media (min-width: 1561px){
    @media (max-width: 1910px){
    .containerItens{
        width: 80%;
    }
}
}

@media (max-width: 1560px){
    .containerItens{
        width: 100%;
    }
}

@media (min-width: 1200px){
    @media (max-width: 1900px){
    .cardPrancheta{
        width: 23%;
    }
}
}

.hideBr{
    display: none;
}
/* Media */
@media (max-width: 425px){
    .primeiroBackground{background-image: linear-gradient(180deg,#331264 0%,#4907ad 100%);}
    .logoYoga{
        width: 70%;
    }
    .titleText{
        font-size: 1.5em !important;
    }
    .titleText2{
        font-size: 1em !important;
    }
    .textVideo{
        font-size: 1em !important;
    }
    .marginTopNotebook{
        margin-top: 10% !important;
    }
    .text25{
        font-size: 1.5em !important;
        line-height: 1.2em !important;
    }
    .text16{
        font-size: 1em !important;
    }
    .text22{
        font-size: 1.4em !important;
    }
    .cardThirdContainer{
        height: unset !important;
    }
    .sectionModule{
        padding: 0 10px;
    }

    .sectionModule2{
        padding: 0 10px;
    }

    .moduloContainer{
        height: unset !important;
    }

    .cardCiano{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .margin0{
        margin-right: 0 !important;
    }

    .marginTopGarantia{
        padding: 0 30px 30px 30px;
    }

    .selo{
        width: 100% !important;
    }
    .justifyContentCenter{
        justify-content: center !important;
    }

    .showBr{
        display: block;
    }
    .imgAboutBianca{
        height: 24em !important;
        width: 24em !important;
    }
}


@media (min-width:576px){
.d-sm-block{display:block!important;}
.d-sm-flex{display:flex!important;}
.flex-sm-column{flex-direction:column!important;}
.flex-sm-column-reverse{flex-direction:column-reverse!important;}
}
@media (min-width:768px){
.d-md-flex{display:flex!important;}
.flex-md-row{flex-direction:row!important;}
.flex-md-row-reverse{flex-direction:row-reverse!important;}
.justify-content-md-start{justify-content:flex-start!important;}
}
@media (min-width:992px){
.d-lg-flex{display:flex!important;}
.flex-lg-row{flex-direction:row!important;}
.text-lg-start{text-align:left!important;}
}
@media (min-width:1200px){
.d-xl-flex{display:flex!important;}
.flex-xl-row{flex-direction:row!important;}
}

@media (max-width: 1400px){
.hideText{display:none;}
.f-size-1{font-size:0.85rem !important;}
.f-size-1-1{font-size:0.9rem !important;}
.f-size-1-2{font-size:1rem !important;}
.f-size-1-3{font-size:1.1rem !important;}
.f-size-1-7{font-size:1.4rem !important;}
.f-size-0-95{font-size: 0.78rem !important;}
.textOferta.maiorTexto{font-size:0.7em !important;}
.colCardTituloOferta{width:75%;}
.colCardPrecoOferta{width:25%;}
.priceOferta{font-size:1rem;}
.textosChakras{font-size:1.4rem;}
.titulotextosChakras{font-size:1.4rem;text-align:center;}
@media (max-width: 768px){
.containerIconesIniciais{max-width:unset;height:unset;}
.marginTop{margin-top:0!important;}
}
}

@media (max-width: 768px){
.imgContainer{max-width:100%;max-height:28em;}
.cardThirdContainer{padding:10px;max-width:90%;height:unset;}
.textCard{max-height:20em;}
}
.cardVantagens{max-width:unset;padding:10px;}
@media (max-width: 768px){
.cardVantagens{max-width:unset;}
}


@media (max-width: 1232px){
.cardMarginTop{margin-top:0.5em;}
}
@media (max-width: 768px){
.moduloContainer{width:90%;}
.moduloContainer.section2{width:90%;}
}


@media (max-width: 768px){
.marginMobile{margin:1em 0 0 0!important;}
}


@media (max-width: 1024px){
.hideIcon{display:none;}
}


@media (max-width: 768px){
    .marginTopIcons{margin-top:1em!important;}
    .iconsThirdContainer{width:10%;}
    }

@media (max-width: 768px){
.priceOferta{padding-top: 30% !important;}
.justifyContentCenter{align-self:center;}
.textCenter{text-align:center;}
.marginTopGarantia{margin-top:2em!important;}
}

@media (max-width: 790px){
    .hideElement{display:none!important;}
    .showElement{display:block!important;}
    .blocoValorPromocional{margin-top:12%!important;}
    .imgAboutBianca{width:calc(var(--vw, 1vw) * 90);height:calc(var(--vw, 1vw) * 90);margin-bottom:8%;}
    .centerOnMobile{text-align:center;}
    .livrosBanners{width:50%;}
    .moduloContainer{margin-top:2%;}
    .f-size-6{font-size:2.8em;}
    .f-size-2-2{font-size:1.9em;}
    .f-size-2{font-size:1.5em;}
    .textValorCortadoCard{font-size:1.1em;}
    .f-size-1-7{font-size:1.4em;}
    .f-size-1-5{font-size:1.3em;}
    .f-size-1-4{font-size:1.2em;}
    .f-size-1-3{font-size:1.1em;}
    .f-size-1-2{font-size:0.8em;}
    .textoAboutBianca{font-size:0.9rem;}
    .textOferta.maiorTexto{font-size:0.74em;}
    .priceOferta{font-size:0.9rem;}
    .cinza{font-size:0.9em;}
    .f-size-3 {font-size: 2.1rem;}
    }
    @media (max-width: 375px){
    .f-size-1-2{font-size:0.72em;}
    .f-size-0-95{font-size: 0.69rem !important;}
    .textOferta.maiorTexto{font-size:0.66em !important;}
    .priceOferta{font-size:0.8rem;}
    }
    @media (max-width: 320px){
    .f-size-0-95{font-size: 0.6rem !important;}
    .textOferta.maiorTexto{font-size:0.55em !important;}
    .priceOferta{font-size:0.8rem;}
    }