/*! CSS Used from: ../../css/cssPage.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
p{margin-top:0;margin-bottom:1rem;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
b{font-weight:bolder;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img,svg{vertical-align:middle;}
label{display:inline-block;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-3{flex:0 0 auto;width:25%;}
.col-4{flex:0 0 auto;width:33.33333333%;}
.col-5{flex:0 0 auto;width:41.66666667%;}
.col-7{flex:0 0 auto;width:58.33333333%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
.col-9{flex:0 0 auto;width:75%;}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-9{flex:0 0 auto;width:75%;}
.col-md-10{flex:0 0 auto;width:83.33333333%;}
.col-md-12{flex:0 0 auto;width:100%;}
}
@media (min-width:1200px){
.col-xl-1{flex:0 0 auto;width:8.33333333%;}
.col-xl-2{flex:0 0 auto;width:16.66666667%;}
.col-xl-3{flex:0 0 auto;width:25%;}
.col-xl-4{flex:0 0 auto;width:33.33333333%;}
.col-xl-5{flex:0 0 auto;width:41.66666667%;}
.col-xl-6{flex:0 0 auto;width:50%;}
.col-xl-8{flex:0 0 auto;width:66.66666667%;}
.col-xl-10{flex:0 0 auto;width:83.33333333%;}
.col-xl-12{flex:0 0 auto;width:100%;}
}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.btn-lg{padding:.5rem 1rem;font-size:1.25rem;border-radius:.3rem;}
.btn-sm{padding:.25rem .5rem;font-size:.875rem;border-radius:.2rem;}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1rem 1rem;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.d-flex{display:flex!important;}
.flex-column{flex-direction:column!important;}
.justify-content-start{justify-content:flex-start!important;}
.justify-content-center{justify-content:center!important;}
.align-items-start{align-items:flex-start!important;}
.align-items-center{align-items:center!important;}
.align-items-end{align-items:flex-end!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mt-n15{margin-top:-15%!important;}
.mb-2{margin-bottom:.5rem!important;}
.mb-5{margin-bottom:3rem!important;}
.ms-2{margin-left:.5rem!important;}
.ms-3{margin-left:1rem!important;}
.p-3{padding:1rem!important;}
.pt-4{padding-top:1.5rem!important;}
.pt-5{padding-top:3rem!important;}
.lh-1{line-height:1.3rem!important;}
.lh-25px{line-height:25px;}
.lh-30px{line-height:30px;}
.lh-31px{line-height: 31px;}
.text-start{text-align:left!important;}
.text-center{text-align:center!important;}
.text-white{color:#fff!important;}
.text-muted{color:#6c757d!important;}
.bg-light{background-color:#f8f9fa!important;}
@media (min-width:576px){
.justify-content-sm-start{justify-content:flex-start!important;}
.justify-content-sm-center{justify-content:center!important;}
}
@media (min-width:992px){
.text-lg-start{text-align:left!important;}
}
.fa{font-family:var(--fa-style-family,"Font Awesome 6 Free");font-weight:var(--fa-style,900);}
.fa,.fa-regular,.fa-solid,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display,inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;}
.fa-arrow-down:before{content:"\f063";}
.fa-check:before{content:"\f00c";}
.fa-circle-check:before{content:"\f058";}
.fa-laptop:before{content:"\f109";}
.fa-star:before{content:"\f005";}
:root{--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";}
:root{--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Free";}
.fa-regular{font-family:"Font Awesome 6 Free";font-weight:400;}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
.fa-solid,.fas{font-family:"Font Awesome 6 Free";font-weight:900;}
*{word-wrap:break-word;font-family:montserrat;}
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
.mt-6{margin-top:4rem!important;}
.mt-7{margin-top:4.5rem!important;}
.mt-10{margin-top:6rem!important;}
.lh-1{line-height:1em;}
.f-size-0-7{font-size:0.7em;}
.f-size-0-8{font-size:0.8em;}
.f-size-0-9{font-size:0.9em;}
.f-size-1-1{font-size:1.1em;}
.f-size-1-2{font-size:1.2em;}
.f-size-1-3{font-size:1.3em;}
.f-size-1-4{font-size:1.4em;}
.f-size-1-5{font-size:1.5em;}
.f-size-1-6{font-size:1.6em;}
.f-size-1-7{font-size:1.7em;}
.f-size-1-9{font-size:1.9em;}
.f-size-2{font-size:2em;}
.f-size-2-2{font-size:2.2em;}
.f-size-6{font-size:4em;}
.text-weight-bold{font-weight:600;}
.text-weight-bolder{font-weight:700;}
.text-weight-medium{font-weight:500;}
.text-red{color:#f20505!important;}
.text-color-white{color:white;}
@media (max-width: 765px){
.reverse{display:flex;flex-flow:column-reverse;}
.swiper{width:100%!important;}
}
@media (max-width: 1023px ){
.swiper{width:80%!important;}
}
.swiper{width:60%;height:100%;}
.swiper-slide{text-align:center;font-size:18px;background:black;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.swiper-slide img{display:block;width:100%;height:100%;object-fit:cover;border-radius:10px;}
.wrapper{max-width:1080px;margin:50px auto;padding:0 20px;position:relative;}
.wrapper .centerLine{position:absolute;height:100%;width:4px;background:var(--azulCiano);left:50%;top:20px;transform:translateX(-50%);}
.wrapper .row{display:flex;}
.wrapper .row-1{justify-content:flex-end;}
.wrapper .row-2{justify-content:flex-start;}
.wrapper .row section{background:#4C18987D;color:white;border-radius:5px;width:calc(50% - 40px);padding:20px;position:relative;border-radius:15px;border-style:solid;border-color:var(--azulCiano);box-shadow:0px 4px 3px rgba(65, 64, 64, 0.486);}
.wrapper .row-1 section{border-width:0px 0px 0px 3px;}
.wrapper .row-2 section{border-width:0px 3px 0px 0px;}
.wrapper .row section::before{position:absolute;content:"";height:15px;width:15px;background:linear-gradient(45deg, var(--azulCiano) 50%, #4C18987D 50%);;   top:28px;transform:rotate(45deg);}
.wrapper .row.row-2 section::before{position:absolute;content:"";height:15px;width:15px;background:linear-gradient(45deg, #4C18987D  50%,var(--azulCiano)  50%)!important;top:28px;transform:rotate(45deg);}
.row-1 section::before{left:-7px;}
.row-2 section::before{right:-7px;}
.row section .icon,.centerLine .scroll-icon{position:absolute;background:var(--azulCiano);height:40px;width:40px;text-align:center;line-height:40px;border-radius:50%;color:#5792BC;font-size:17px;box-shadow:0 0 0 4px #57fad7, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);}
.centerLine .scroll-icon{bottom:0px;left:50%;font-size:25px;transform:translateX(-50%);}
.icon-top{background-color:var(--azulCiano);color:var(--azulCiano);width:25px;height:25px;border-radius:20px;position:relative;}
.scroll-icon{width:20px!important;height:20px!important;}
.row-1 section .icon{top:15px;left:-62px;}
.row-2 section .icon{top:15px;right:-62px;}
.row section p{margin:10px 0 17px 0;}
.timelineTitle{position:absolute;text-align:start;padding-left:9%;}
.timelineTitle2{position:absolute;text-align:end;padding-right:4%;}
.timelineTitle3{position:absolute;text-align:start;padding-left:1%;}
@media (max-width: 790px){
.wrapper .centerLine{left:40px;}
.wrapper .row{margin:30px 0 3px 60px;}
.wrapper .row section{width:100%;}
.row-1 section .icon{left:-60px;}
.row-2 section .icon{right:unset!important;left:-60px;}
.row-2 section::before{right:unset;left:-7px;}
.wrapper .row.row-2 section::before{background:linear-gradient(45deg, var(--azulCiano) 50%, #4C18987D 50%)!important;}
.wrapper .row-2 section{border-width:0px 0px 0px 3px;}
.timelineTitle{position:relative;padding-right:0%!important;padding-bottom:4%;text-align:start;font-size:1.4em;}
}
@media (max-width: 1444px){
.timelineTitle{padding-left:0%;}
.timelineTitle2{padding-right:0%;}
.timelineTitle3{margin-right:4%!important;}
}
@media (max-width: 768px){
.divIconTop{margin-left:1%!important;}
}
@media (max-width: 475px){
.divIconTop{margin-left:2%!important;}
.timelineTitle{padding-left:0!important;}
.textUL{padding-left:10px;}
.imgContainerUl{width:100%!important;}
.marginRight{margin-right:0!important;}
.marginRight2{margin-right:0!important;}
.marginLeft2{margin-left:0!important;}
.moduloTitulo{font-size:13px;}
.sectionModule1{margin-left:1%;margin-right:1%;}
.sectionModule2{margin-left:1%;margin-right:1%;}
}
@media (max-width: 440px){
.wrapper .centerLine,.row section::before,.row section .icon{display:none;}
.wrapper .row{margin:10px 0;}
}
.tab input{display:none;}
.tab label{position:relative;display:block;width:100%;margin-top:10px;padding:10px;font-weight:700;color:#fff;background:var(--roxo);cursor:pointer;text-align:left;font-size:1.2em;}
.tab .content{background:var(--azulCiano);overflow:hidden;transition:max-height 0.3s;max-height:0;font-size:1.2em;text-align:left;}
.tab .content p{padding:10px;}
.tab input:checked ~ .content{max-height:100vh;}
.tab label::after{display:block;content:"\25b8";position:absolute;right:10px;top:10px;transition:all 0.4s;}
.tab input:checked ~ label::after{transform:rotate(90deg);}
.tab input:checked ~  label{color:var(--azulCiano);}
@media (max-width: 768px){
.tab label{font-size:1em;}
.tab .content{font-size:0.9em;}
}
:root{--swiper-theme-color:#007aff;}
.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box;}
.swiper-wrapper{transform:translate3d(0px,0,0);}
.swiper-pointer-events{touch-action:pan-y;}
.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform;}
:root{--swiper-navigation-size:44px;}
.swiper .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000;}
:root{--azulCiano:#62ffdd;--roxo:#331264;}
body{background-color:white;}
.primeiroBackground{background-color:transparent;background-image:linear-gradient(180deg,var(--roxo) 0%,#4907ad 100%);}
.positionRelative{position:relative!important;}
.segundoBackground{background-color:var(--roxo);}
.backgroundPresentes{background-color:#3312640D;}
.azulCiano{color:var(--azulCiano);}
.roxo{color:var(--roxo);}
.cinza{color:#262626;}
.logoYoga{width:70%;}
.containerHeight{height:7em;}
.buttonsFooter{text-decoration:none;color:white;font-weight:600;}
.buttonBonus{background-color:transparent;background-image:linear-gradient(180deg,#4d00c3 0%,#3c0099 100%);border-radius:70px;animation:blinker 1s linear infinite;}
.buttonsFooter:hover{color:white;}
.imgRounded{border-radius:20px;}
.cianoButton{background-color:var(--azulCiano);color:black;border-radius:70px;animation:blinker 1s linear infinite;}
.cianoButton:hover{background-color:var(--roxo);color:var(--azulCiano);}
ul{list-style:none;font-size:1.2em;font-family:montserrat;font-weight:500;}
.fa-check{width:1.2em;}
.imgContainerUl{width:80%;}
.moduloContainer{background-color:#F3F1F6;width:25em;height:38.5em;border-radius:2%;}
.moduloImg{border-radius:4%;width:95%;}
.moduloTitulo{letter-spacing:7.4px;}
.marginRight{margin-right:0.7em;}
.marginRight2{margin-right:0.35em;}
.marginLeft2{margin-left:0.35em;}
.montserrat{font-family:montserrat;}
.inter{font-family:inter;}
.ephesis{font-family:ephesis;}
.swiper-slide{background-color:#ffff;border-radius:2em;}
.cianShinyBorderCard{border-style:solid;border-width:1px;border-color:#62ffdd;box-shadow:0px 0px 100px 0px #62ffdd;border-radius:30px;}
.cianShinyBorderButtons{border-style:solid;border-width:1px;border-color:#62ffdd;box-shadow:0px 0px 10px 0px #62ffdd;}
.purpleText{color:var(--roxo);}
.selo{width:55%;}
lite-vimeo{background-image:url('../../assets/yogaIniciantes/bannerVideo.webp');background-size:cover;background-position:0 0;}
.svg02{fill:#4907ad;}
.elementor-shape{overflow:hidden;position:absolute;left:0;width:100%;line-height:0;direction:ltr;}
.elementor-shape-bottom{bottom:-1px;}
.elementor-shape[data-negative=false].elementor-shape-bottom{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.elementor-shape svg{display:block;width:calc(100% + 1.3px);position:relative;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.svgInicial{fill:#331264;}
.svgSecundario{fill:white;}
.imgAboutBianca{border-radius:80%;width:28em;height:28em;background-image:url(../../assets/yogaIniciantes/sobreImg.webp);background-size:cover;background-position:center;bottom:20px;}
.boxArrow{position:relative;margin-top:-2.4%!important;}
.svgRedStroke{position:absolute;top:50%;left:50%;width:calc(100% + 20px);height:calc(100% + 20px);transform:translate(-50%,-50%);overflow:visible;animation:showHide 1.5s ease-in alternate infinite;}
.pathRedStroke{stroke-width:9;fill:none;stroke:#f90000;}
.svgNuvem{position:absolute;top:50%;left:50%;width:calc(100% + 20px);height:calc(100% + 20px);transform:translate(-50%,-50%);overflow:visible;animation:showHide 3s ease-in alternate infinite;}
.pathNuvem{stroke:#62ffdd;stroke-width:9;fill:none;}
.showElement{display:none;}
.dotSpan{flex:1;border-bottom:2.5px dotted black;}
.wordWrap{word-break:break-word;}
.parcelamentoOferta{font-size:80%;}
@media (max-width: 1901px) {
    .priceOferta{white-space: nowrap !important;}
    .textIncalculavel{font-size: 1.1rem;white-space: nowrap !important;}
}
@media (max-width: 1444px){
.f-size-2-2{font-size:2em;}
.f-size-1-7{font-size:1.6em;}
.f-size-1-4{font-size:1.3em;}
.f-size-1-3{font-size:1.1em;}
.f-size-1-2{font-size:1.1em;}
.f-size-1-1{font-size:0.9em;white-space:nowrap!important;}
.textUL{font-size:0.9em;}
.smallOferta{font-size:0.7em!important;}
.textOferta{font-size:1em!important;}
.priceOferta{font-size:0.9em!important;white-space:nowrap!important;}
.textIncalculavel{font-size:0.9rem;white-space:nowrap!important;}
.containerIconesIniciais{width:33.33%;}
}
@media (max-width: 1069px) {
    .priceOferta{font-size: 0.7rem !important;}
    .textIncalculavel{font-size: 0.7rem !important;}
}
@media (max-width: 790px){
.hideElement{display:none!important;}
.showElement{display:block!important;}
.imgAboutBianca{width:calc(var(--vw, 1vw) * 90);height:calc(var(--vw, 1vw) * 90);margin-bottom:8%;}
.centerOnMobile{text-align:center;}
.livrosBanners{width:50%;}
.moduloContainer{margin-top:4%;}
.f-size-2-2{font-size:1.55em;}
.f-size-2{font-size:1.45em;}
.f-size-1-9{font-size:1.3em;}
.f-size-1-7{font-size:1.4em;}
.f-size-1-4{font-size:1.2em;}
.f-size-1-3{font-size:1.1em;}
.f-size-1-2{font-size:1em;}
.f-size-1-1{font-size:0.9em;}
.cinza{font-size:0.9em;}
.textUL{font-size:0.8em;}
.imgRounded{margin-top:5%;}
.f-size-1-1{font-size:0.9em;white-space:normal!important;}
.textOferta{font-size:0.9em!important;}
.titleText{font-size:25px!important;}
.textVideo{font-size:16px;}
.containerIconesIniciais{width:100%;flex-direction:column;text-align:center;margin-bottom:-11%!important;}
.iconesPassos{width:12%;}
.f-size-6{font-size:2.7rem;}
.svgPalacio{width:250%!important;}
.textosIconesIniciais{font-size:0.9em;}
}
@media (max-width: 1444px){
.smallOferta{font-size:0.6em!important;}
.textOferta{font-size:0.72em!important;}
.priceOferta{font-size:0.74em!important;white-space:nowrap!important;}
.textIncalculavel{font-size:0.74rem;white-space:nowrap!important;}
}
@media (max-width: 414px){
    .smallOferta{font-size: 0.62em !important;}
    .textOferta{font-size: 0.8em !important;}
    .priceOferta{font-size: 0.7em !important;white-space: nowrap !important;}
    .textIncalculavel{font-size: 0.7rem;white-space: nowrap !important;}
}
@media (max-width: 375px){
.txtModule{font-size:0.8em!important;}
}
@media (max-width: 376px){
.smallOferta{font-size:0.55em!important;}
.textOferta{font-size:0.62em!important;}
.priceOferta{font-size:0.62em!important;white-space:nowrap!important;}
.textIncalculavel{font-size:0.6rem;white-space:nowrap!important;}
}
.transition-down-up{animation:1s ease-out 0s 1 slideInFromDown;}
@media (max-width: 1650px){
.containerTitle{max-width:880px!important;}
.containerTitle2{max-width:900px!important;}
}
/*! CSS Used keyframes */
@keyframes blinker{50%{transform:scale(1.1);}}
@keyframes showHide{0%{stroke-dasharray:0 1500;opacity:1;}100%{stroke-dasharray:1500 1500;opacity:1;}}
@keyframes slideInFromDown {0% {transform: translateY(100%);}100% {transform: translateY(0);}}
/*! CSS Used fontfaces */
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.ttf) format("truetype");}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:inter;src:url('../../fonts/bianca/Inter-Bold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:ephesis;src:url('../../fonts/bianca/ephesis.ttf');font-weight:normal;font-style:normal;font-display:swap;}