.mt-6{margin-top:4rem!important;}
.mt-7{margin-top:4.5rem!important;}
.mt-10{margin-top:6rem!important;}
.lh-1{line-height:1em;}
.f-size-0-7{font-size:0.7em;}
.f-size-0-8{font-size:0.8em;}
.f-size-0-9{font-size:0.9em;}
.f-size-1-2{font-size:1.2em;}
.f-size-1-4{font-size:1.4em;}
.f-size-1-5{font-size:1.5em;}
.f-size-1-6{font-size:1.6em;}
.f-size-1-9{font-size:1.9em;}
.f-size-2{font-size:2em;}
.f-size-6{font-size:4em;}
.text-weight-bold{font-weight:600;}
.text-weight-bolder{font-weight:700;}
.text-weight-medium{font-weight:500;}
.text-red{color:#f20505!important;}
.text-color-white{color:white;}
@media (max-width: 765px){
.reverse{display:flex;flex-flow:column-reverse;}
.swiper{width:100%!important;}
}
@media (max-width: 1023px ){
.swiper{width:80%!important;}
}
.swiper{width:60%;height:100%;}
.swiper-slide{text-align:center;font-size:18px;background:black;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.swiper-slide img{display:block;width:100%;height:100%;object-fit:cover;border-radius:10px;}
.wrapper{max-width:1080px;margin:50px auto;padding:0 20px;position:relative;}
.wrapper .centerLine{position:absolute;height:100%;width:4px;background:var(--azulCiano);left:50%;top:20px;transform:translateX(-50%);}
.wrapper .row{display:flex;}
.wrapper .row-1{justify-content:flex-end;}
.wrapper .row-2{justify-content:flex-start;}
.wrapper .row section{background:#4C18987D;color:white;border-radius:5px;width:calc(50% - 40px);padding:20px;position:relative;border-radius:15px;border-style:solid;border-color:var(--azulCiano);box-shadow:0px 4px 3px rgba(65, 64, 64, 0.486);}
.wrapper .row-1 section{border-width:0px 0px 0px 3px;}
.wrapper .row-2 section{border-width:0px 3px 0px 0px;}
.wrapper .row section::before{position:absolute;content:"";height:15px;width:15px;background:linear-gradient(45deg, var(--azulCiano) 50%, #4C18987D 50%);;   top:28px;transform:rotate(45deg);}
.wrapper .row.row-2 section::before{position:absolute;content:"";height:15px;width:15px;background:linear-gradient(45deg, #4C18987D  50%,var(--azulCiano)  50%)!important;top:28px;transform:rotate(45deg);}
.row-1 section::before{left:-7px;}
.row-2 section::before{right:-7px;}
.row section .icon,.centerLine .scroll-icon{position:absolute;background:var(--azulCiano);height:40px;width:40px;text-align:center;line-height:40px;border-radius:50%;color:#5792BC;font-size:17px;box-shadow:0 0 0 4px #57fad7, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);}
.centerLine .scroll-icon{bottom:0px;left:50%;font-size:25px;transform:translateX(-50%);}
.icon-top{background-color:var(--azulCiano);color:var(--azulCiano);width:25px;height:25px;border-radius:20px;position:relative;}
.scroll-icon{width:20px!important;height:20px!important;}
.row-1 section .icon{top:15px;left:-62px;}
.row-2 section .icon{top:15px;right:-62px;}
.row section p{margin:10px 0 17px 0;}
.timelineTitle{position:absolute;text-align:start;padding-left:9%;}
.timelineTitle2{position:absolute;text-align:end;padding-right:4%;}
.timelineTitle3{position:absolute;text-align:start;padding-left:1%;}
@media (max-width: 790px){
.wrapper .centerLine{left:40px;}
.wrapper .row{margin:30px 0 3px 60px;}
.wrapper .row section{width:100%;}
.row-1 section .icon{left:-60px;}
.row-2 section .icon{right:unset!important;left:-60px;}
.row-2 section::before{right:unset;left:-7px;}
.wrapper .row.row-2 section::before{background:linear-gradient(45deg, var(--azulCiano) 50%, #4C18987D 50%)!important;}
.wrapper .row-2 section{border-width:0px 0px 0px 3px;}
.timelineTitle{position:relative;padding-right:0%!important;padding-bottom:4%;text-align:start;font-size:1.4em;}
}
@media (max-width: 1444px){
.timelineTitle{padding-left:0%;}
.timelineTitle2{padding-right:0%;}
.timelineTitle3{margin-right:4%!important;}
}
@media (max-width: 768px){
.divIconTop{margin-left:1%!important;}
}
@media (max-width: 475px){
.divIconTop{margin-left:2%!important;}
.timelineTitle{padding-left:0!important;}
.textUL{padding-left:10px;}
.imgContainerUl{width:100%!important;}
.marginRight{margin-right:0!important;}
.marginRight2{margin-right:0!important;}
.marginLeft2{margin-left:0!important;}
.moduloTitulo{font-size:13px;}
.sectionModule1{margin-left:1%;margin-right:1%;}
.sectionModule2{margin-left:1%;margin-right:1%;}
}
@media (max-width: 440px){
.wrapper .centerLine,.row section::before,.row section .icon{display:none;}
.wrapper .row{margin:10px 0;}
}
.tab input{display:none;}
.tab label{position:relative;display:block;width:100%;margin-top:10px;padding:10px;font-weight:700;color:#fff;background:var(--roxo);cursor:pointer;text-align:left;font-size:1.2em;}
.tab .content{background:var(--azulCiano);overflow:hidden;transition:max-height 0.3s;max-height:0;font-size:1.2em;text-align:left;}
.tab .content p{padding:10px;}
.tab input:checked ~ .content{max-height:100vh;}
.tab label::after{display:block;content:"\25b8";position:absolute;right:10px;top:10px;transition:all 0.4s;}
.tab input:checked ~ label::after{transform:rotate(90deg);}
.tab input:checked ~  label{color:var(--azulCiano);}
@media (max-width: 768px){
.tab label{font-size:1em;}
.tab .content{font-size:0.9em;}
}
:root{--swiper-theme-color:#007aff;}
.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box;}
.swiper-wrapper{transform:translate3d(0px,0,0);}
.swiper-pointer-events{touch-action:pan-y;}
.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform;}
:root{--swiper-navigation-size:44px;}
.swiper .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000;}
:root{--azulCiano:#62ffdd;--roxo:#331264;}
body{background-color:white;}
.backgroundPresentes{background-color:#3312640D;}
.azulCiano{color:var(--azulCiano);}
.roxo{color:var(--roxo);}
.cinza{color:#262626;}
.buttonsFooter{text-decoration:none;color:white;font-weight:600;}
.buttonBonus{background-color:transparent;background-image:linear-gradient(180deg,#4d00c3 0%,#3c0099 100%);border-radius:70px;animation:blinker 1s linear infinite;}
.buttonsFooter:hover{color:white;}
.imgRounded{border-radius:20px;}
.cianoButton{background-color:var(--azulCiano);color:black;border-radius:70px;animation:blinker 1s linear infinite;}
.cianoButton:hover{background-color:var(--roxo);color:var(--azulCiano);}
ul{list-style:none;font-size:1.2em;font-family:montserrat;font-weight:500;}
.fa-check{width:1.2em;}
.imgContainerUl{width:80%;}
.moduloContainer{background-color:#F3F1F6;width:25em;height:38.5em;border-radius:2%;}
.moduloImg{border-radius:4%;width:95%;}
.moduloTitulo{letter-spacing:7.4px;}
.marginRight{margin-right:0.7em;}
.marginRight2{margin-right:0.35em;}
.marginLeft2{margin-left:0.35em;}
.montserrat{font-family:montserrat;}
.inter{font-family:inter;}
.ephesis{font-family:ephesis;}
.swiper-slide{background-color:#ffff;border-radius:2em;}
.cianShinyBorderCard{border-style:solid;border-width:1px;border-color:#62ffdd;box-shadow:0px 0px 100px 0px #62ffdd;border-radius:30px;}
.cianShinyBorderButtons{border-style:solid;border-width:1px;border-color:#62ffdd;box-shadow:0px 0px 10px 0px #62ffdd;}
.purpleText{color:var(--roxo);}
.selo{width:55%;}
lite-vimeo{background-image:url('../../assets/yogaIniciantes/bannerVideo.webp');background-size:cover;background-position:0 0;}
.svg02{fill:#4907ad;}
.svgSecundario{fill:white;}
.imgAboutBianca{border-radius:80%;width:28em;height:28em;background-image:url(../../assets/yogaIniciantes/sobreImg.webp);background-size:cover;background-position:center;bottom:20px;}
.svgRedStroke{position:absolute;top:50%;left:50%;width:calc(100% + 20px);height:calc(100% + 20px);transform:translate(-50%,-50%);overflow:visible;animation:showHide 1.5s ease-in alternate infinite;}
.pathRedStroke{stroke-width:9;fill:none;stroke:#f90000;}
.svgNuvem{position:absolute;top:50%;left:50%;width:calc(100% + 20px);height:calc(100% + 20px);transform:translate(-50%,-50%);overflow:visible;animation:showHide 3s ease-in alternate infinite;}
.pathNuvem{stroke:#62ffdd;stroke-width:9;fill:none;}
.showElement{display:none;}
.dotSpan{flex:1;border-bottom:2.5px dotted black;}
.wordWrap{word-break:break-word;}
.parcelamentoOferta{font-size:80%;}
/*! CSS Used keyframes */
@keyframes blinker{50%{transform:scale(1.1);}}
@keyframes showHide{0%{stroke-dasharray:0 1500;opacity:1;}100%{stroke-dasharray:1500 1500;opacity:1;}}
/*! CSS Used fontfaces */
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-regular-400.ttf) format("truetype");}
@font-face{font-family:"Font Awesome 6 Free";font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/webfonts/fa-solid-900.ttf) format("truetype");}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:inter;src:url('../../fonts/bianca/Inter-Bold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:ephesis;src:url('../../fonts/bianca/ephesis.ttf');font-weight:normal;font-style:normal;font-display:swap;}