/*! CSS Used from: ../../css/cssPage.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
p{margin-top:0;margin-bottom:1rem;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
b{font-weight:bolder;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img,svg{vertical-align:middle;}
label{display:inline-block;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-3{flex:0 0 auto;width:25%;}
.col-4{flex:0 0 auto;width:33.33333333%;}
.col-5{flex:0 0 auto;width:41.66666667%;}
.col-7{flex:0 0 auto;width:58.33333333%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
.col-9{flex:0 0 auto;width:75%;}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-9{flex:0 0 auto;width:75%;}
.col-md-10{flex:0 0 auto;width:83.33333333%;}
.col-md-12{flex:0 0 auto;width:100%;}
}
@media (min-width:1200px){
.col-xl-1{flex:0 0 auto;width:8.33333333%;}
.col-xl-2{flex:0 0 auto;width:16.66666667%;}
.col-xl-3{flex:0 0 auto;width:25%;}
.col-xl-4{flex:0 0 auto;width:33.33333333%;}
.col-xl-5{flex:0 0 auto;width:41.66666667%;}
.col-xl-6{flex:0 0 auto;width:50%;}
.col-xl-8{flex:0 0 auto;width:66.66666667%;}
.col-xl-10{flex:0 0 auto;width:83.33333333%;}
.col-xl-12{flex:0 0 auto;width:100%;}
}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.btn-lg{padding:.5rem 1rem;font-size:1.25rem;border-radius:.3rem;}
.btn-sm{padding:.25rem .5rem;font-size:.875rem;border-radius:.2rem;}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1rem 1rem;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.d-flex{display:flex!important;}
.flex-column{flex-direction:column!important;}
.justify-content-start{justify-content:flex-start!important;}
.justify-content-center{justify-content:center!important;}
.align-items-start{align-items:flex-start!important;}
.align-items-center{align-items:center!important;}
.align-items-end{align-items:flex-end!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mt-n15{margin-top:-15%!important;}
.mb-2{margin-bottom:.5rem!important;}
.mb-5{margin-bottom:3rem!important;}
.ms-2{margin-left:.5rem!important;}
.ms-3{margin-left:1rem!important;}
.p-3{padding:1rem!important;}
.pt-4{padding-top:1.5rem!important;}
.pt-5{padding-top:3rem!important;}
.lh-1{line-height:1.3rem!important;}
.lh-25px{line-height:25px;}
.lh-30px{line-height:30px;}
.lh-31px{line-height: 31px;}
.text-start{text-align:left!important;}
.text-center{text-align:center!important;}
.text-white{color:#fff!important;}
.text-muted{color:#6c757d!important;}
.bg-light{background-color:#f8f9fa!important;}
@media (min-width:576px){
.justify-content-sm-start{justify-content:flex-start!important;}
.justify-content-sm-center{justify-content:center!important;}
}
@media (min-width:992px){
.text-lg-start{text-align:left!important;}
}
.fa{font-family:var(--fa-style-family,"Font Awesome 6 Free");font-weight:var(--fa-style,900);}
.fa,.fa-regular,.fa-solid,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display,inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;}
.fa-arrow-down:before{content:"\f063";}
.fa-check:before{content:"\f00c";}
.fa-circle-check:before{content:"\f058";}
.fa-laptop:before{content:"\f109";}
.fa-star:before{content:"\f005";}
:root{--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";}
:root{--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Free";}
.fa-regular{font-family:"Font Awesome 6 Free";font-weight:400;}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
.fa-solid,.fas{font-family:"Font Awesome 6 Free";font-weight:900;}
*{word-wrap:break-word;font-family:montserrat;}
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
/* OUR CSS */
:root{--azulCiano:#62ffdd;--roxo:#331264;}
.primeiroBackground{background-color:transparent;background-image:linear-gradient(180deg,var(--roxo) 0%,#4907ad 100%);}
.segundoBackground{background-color:var(--roxo);}
.logoYoga{width:70%;}
.positionRelative{position:relative!important;}
.text-weight-bold{font-weight:600;}
.text-weight-bolder{font-weight:700;}
.text-weight-medium{font-weight:500;}
.text-color-white{color:white;}
.inter{font-family:inter;}
.f-size-1-1{font-size:1.1em;}
.f-size-1-3{font-size:1.3em;}
.f-size-1-7{font-size:1.7em;}
.f-size-2-2{font-size:2.2em;}
.showElement{display:none;}
.containerHeight{height:7em;}
.svgInicial{fill:#331264;}
lite-vimeo{background-image:url('../../assets/yogaIniciantes/bannerVideo.webp');background-size:cover;background-position:0 0;}
.elementor-shape{overflow:hidden;position:absolute;left:0;width:100%;line-height:0;direction:ltr;}
.elementor-shape-bottom{bottom:-1px;}
.elementor-shape[data-negative=false].elementor-shape-bottom{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.elementor-shape svg{display:block;width:calc(100% + 1.3px);position:relative;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.boxArrow{position:relative;margin-top:-2.4%!important;}
@media (max-width: 1901px) {
    .priceOferta{white-space: nowrap !important;}
    .textIncalculavel{font-size: 1.1rem;white-space: nowrap !important;}
}
@media (max-width: 1444px){
.f-size-2-2{font-size:2em;}
.f-size-1-7{font-size:1.6em;}
.f-size-1-4{font-size:1.3em;}
.f-size-1-3{font-size:1.1em;}
.f-size-1-2{font-size:1.1em;}
.f-size-1-1{font-size:0.9em;white-space:nowrap!important;}
.textUL{font-size:0.9em;}
.smallOferta{font-size:0.7em!important;}
.textOferta{font-size:1em!important;}
.priceOferta{font-size:0.9em!important;white-space:nowrap!important;}
.textIncalculavel{font-size:0.9rem;white-space:nowrap!important;}
.containerIconesIniciais{width:33.33%;}
}
@media (max-width: 1069px) {
    .priceOferta{font-size: 0.7rem !important;}
    .textIncalculavel{font-size: 0.7rem !important;}
}
@media (max-width: 790px){
.hideElement{display:none!important;}
.showElement{display:block!important;}
.imgAboutBianca{width:calc(var(--vw, 1vw) * 90);height:calc(var(--vw, 1vw) * 90);margin-bottom:8%;}
.centerOnMobile{text-align:center;}
.livrosBanners{width:50%;}
.moduloContainer{margin-top:4%;}
.f-size-2-2{font-size:1.55em;}
.f-size-2{font-size:1.45em;}
.f-size-1-9{font-size:1.3em;}
.f-size-1-7{font-size:1.4em;}
.f-size-1-4{font-size:1.2em;}
.f-size-1-3{font-size:1.1em;}
.f-size-1-2{font-size:1em;}
.f-size-1-1{font-size:0.9em;}
.cinza{font-size:0.9em;}
.textUL{font-size:0.8em;}
.imgRounded{margin-top:5%;}
.f-size-1-1{font-size:0.9em;white-space:normal!important;}
.textOferta{font-size:0.9em!important;}
.titleText{font-size:25px!important;}
.textVideo{font-size:16px;}
.containerIconesIniciais{width:100%;flex-direction:column;text-align:center;margin-bottom:-11%!important;}
.iconesPassos{width:12%;}
.f-size-6{font-size:2.7rem;}
.svgPalacio{width:250%!important;}
.textosIconesIniciais{font-size:0.9em;}
}
@media (max-width: 1444px){
.smallOferta{font-size:0.6em!important;}
.textOferta{font-size:0.72em!important;}
.priceOferta{font-size:0.74em!important;white-space:nowrap!important;}
.textIncalculavel{font-size:0.74rem;white-space:nowrap!important;}
}
@media (max-width: 414px){
    .smallOferta{font-size: 0.62em !important;}
    .textOferta{font-size: 0.8em !important;}
    .priceOferta{font-size: 0.7em !important;white-space: nowrap !important;}
    .textIncalculavel{font-size: 0.7rem;white-space: nowrap !important;}
}
@media (max-width: 375px){
.txtModule{font-size:0.8em!important;}
}
@media (max-width: 376px){
.smallOferta{font-size:0.55em!important;}
.textOferta{font-size:0.62em!important;}
.priceOferta{font-size:0.62em!important;white-space:nowrap!important;}
.textIncalculavel{font-size:0.6rem;white-space:nowrap!important;}
}
@media (max-width: 1650px){
.containerTitle{max-width:880px!important;}
.containerTitle2{max-width:900px!important;}
}
.transition-down-up{animation:1s ease-out 0s 1 slideInFromDown;}
@keyframes slideInFromDown {0% {transform: translateY(100%);}100% {transform: translateY(0);}}