/*! CSS Used from: ../../vendor/lite-youtube-embed/lite-yt-embed.css */
lite-youtube{background-color:#000;position:relative;display:block;contain:content;background-position:center center;background-size:cover;cursor:pointer;max-width:720px;}
lite-youtube::before{content:'';display:block;position:absolute;top:0;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);background-position:top;background-repeat:repeat-x;height:60px;padding-bottom:50px;width:100%;transition:all 0.2s cubic-bezier(0, 0, 0.2, 1);}
lite-youtube::after{content:"";display:block;padding-bottom:calc(100% / (16 / 9));}
lite-youtube > .lty-playbtn{width:68px;height:48px;position:absolute;cursor:pointer;transform:translate3d(-50%, -50%, 0);top:50%;left:50%;z-index:1;background-color:transparent;background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');filter:grayscale(100%);transition:filter .1s cubic-bezier(0, 0, 0.2, 1);border:none;}
lite-youtube:hover > .lty-playbtn,lite-youtube .lty-playbtn:focus{filter:none;}
/*! CSS Used from: ../../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
button{-webkit-appearance:button;}
::-moz-focus-inner{padding:0;border-style:none;}
.container-fluid{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-10{flex:0 0 auto;width:83.33333333%;}
}
@media (min-width:992px){
.col-lg-1{flex:0 0 auto;width:8.33333333%;}
.col-lg-4{flex:0 0 auto;width:33.33333333%;}
.col-lg-10{flex:0 0 auto;width:83.33333333%;}
}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.h-100{height:100%!important;}
.mt-2{margin-top:.5rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.text-center{text-align:center!important;}
/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css */
:root{--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands";}
:root{--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Free";}
:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Free";}
/*! CSS Used from: ../../css/general.css */
*{word-wrap:break-word;}
::-webkit-scrollbar{width:0.5rem;}
::-webkit-scrollbar-track{background:#f1f1f1;}
::-webkit-scrollbar-thumb{background:rgb(119, 118, 118);}
::-webkit-scrollbar-thumb:hover{background:#555;}
.f-size-1-4{font-size:1.4em;}
.f-size-1-5{font-size:1.5em;}
.text-weight-bold{font-weight:600;}
/*! CSS Used from: ../../css/duvidas.css */
:root{--cativar:#bf05f2;--libertarBtnInicial:#FF5000;--libertarBtnFinal:#f17505;--libertar:#ff6400;--encantar:#005cff;--preliminar:#f20505;--despertar:#E7EE00;--encantar2:rgb(0, 145, 255);--encantarCardIcon:#0040ff;--encantarStrong:#0027ff;--principium:rgb(255, 0, 0);--fortunum:#ffd801;--fortunum2:#ffd200;}
/*! CSS Used from: ../../css/formacaoCadastro/formacaoCadastro.css */
*{font-family:montserrat, Sans-serif;}
.logoImg{width:70%;height:100%;}
.blueColor{color:#33d2ae;}
.purpleColor{color:#8454b8;}
.btn-site{text-shadow:0px 0px 10px rgba(0,0,0,.3);fill:#fff;color:#fff;background-color:#00c207;border-radius:40px;box-shadow:0px 10px 20px 0px rgba(140.99999999999997,64.3695652173913,0,.33);padding:20px 50px;}
.btn-site:hover{color:white;animation:blinker 1s linear infinite;}
lite-youtube{max-width:100%!important;}
@media (min-width: 1400px){
.logoImg{width:100%;height:100%;}
.col-sl-2{flex:0 0 auto;width:16.66666667%;}
.col-sl-5{flex:0 0 auto;width:41.66666667%;}
.col-sl-8{flex:0 0 auto;width:66.66666667%;}
}
@media (max-width: 765px){
.logoImg{width:40%;height:100%;}
.f-size-1-5{font-size: 1.3em;}
.f-size-1-4{font-size: 1em;}
}
/*! CSS Used keyframes */
@keyframes blinker{50%{transform:scale(1.1);}}
/*! CSS Used fontfaces */
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}