* {
    font-family: montserrat, Sans-serif;
}

.logoImg {
    width: 70%;
    height: 100%;
}

.blueColor { 
    color: #33d2ae;
}

.purpleColor {
    color: #8454b8;
}

.btn-site {
    text-shadow: 0px 0px 10px rgba(0,0,0,.3);
    fill: #fff;
    color: #fff;
    background-color: #00c207;
    border-radius: 40px;
    box-shadow: 0px 10px 20px 0px rgba(140.99999999999997,64.3695652173913,0,.33);
    padding: 20px 50px;
}

.btn-site:hover {
    color: white;
    animation: blinker 1s linear infinite;
}

lite-youtube{
    max-width: 100% !important;
}

@media (min-width: 1400px) {
    .logoImg {
        width: 100%;
        height: 100%;
    }
    .col-sl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-sl-5 {  
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-sl-8 {  
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    
}

/* KEYFRAMES */

@keyframes blinker {
    50% {
      transform: scale(1.1);
    }
}

@media (max-width: 765px) {
    .logoImg {
        width: 40%;
        height: 100%;
    }
}